<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>
  <p>Made by Elizabeth without really understanding what she was doing</p>
  <div class="col-xs-10 col-xs-offset-1 about">
    <%= image_tag 'bdh.jpg', :class => 'img-responsive' %>
  </div>
</div>